<!DOCTYPE html>
<html>
  <head>
    <title>BaRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  </head>
    <header>
      <div class="container">
        <div>
          <div class="col-lg-4">
            <h1>
              <%= link_to "婆ーレコード", products_path %>
            </h1>
            <h2 class="col-lg-2">
              <% if user_signed_in? %>
              ログインしているよ
              <% else %>
              未ログインだよ
              <% end %>
            </h2>
            <div class="col-lg-6">
              <ul class="list-inline">
                <% if user_signed_in? %>
                  <li><%= link_to "マイページ", edit_user_path(current_user.id) %></li>
                  <li><%= link_to "カート", carts_path %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "新規登録", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= form_tag products_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :title => nil %>
    <% end %>
  <body>
    <%= yield %>
  </body>
</html>
